# .extra
# .ssh
# ssh
# .ssh/*
# ssh/*
bundle/
/**/*/*.cache
/**/*/*.cache/
.cache
*.cache*
.vim/.netrwhist
.vim/bundle/
.vim/.vim
init/spf13-vim.sh
xdg/config/python/.python_history
antibody/antibody
workbench.xmi
.DS_Store
._.DS_Store
._.*
fonts/powerline/
.stfolder
.stignore
