{% for host in hosts %}
Host {{ host }}
{% if host.user %}
User {{ host.user }}
{% endif %}
{% if host.hostname %}
HostName{{ host.hostname }}
{% endif %}
{% if host.identityfile %}
IdentityFile {{ host.identityfile }}
{% endif %}
AddressFamily any
HashKnownHosts yes
{% endfor %}

Host github.com
User git
