<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Atom</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:26:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Atom</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Atom</string>
				</dict>
			</dict>
			<key>Docker</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:26:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Docker</string>
				</dict>
			</dict>
			<key>Dockerfile</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:26:29Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Dockerfile</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Dockerfile</string>
				</dict>
			</dict>
			<key>GDB</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:26:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>GDB</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>GDB</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:07Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Swift</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:26:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>xcode</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Swift</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Unix_File_Permissions</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:26:43Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>chmod</string>
					</array>
					<key>name</key>
					<string>Unix File Permissions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Unix_File_Permissions</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:26:42Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>gRPC</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:15Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>gRPC</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>gRPC</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>grpc/grpc</key>
			<dict>
				<key>date</key>
				<date>2017-03-21T05:01:57Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>grpc/grpc</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>grpc/grpc</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>C_Online</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>C (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>C_Online</string>
				</dict>
			</dict>
			<key>JavaScript_Online</key>
			<dict>
				<key>date</key>
				<date>2017-03-18T23:57:29Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>dom events</string>
						<string>canvas</string>
					</array>
					<key>name</key>
					<string>JavaScript (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>JavaScript_Online</string>
				</dict>
			</dict>
			<key>NodeJS_Online</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node.js</string>
					</array>
					<key>name</key>
					<string>NodeJS (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>NodeJS_Online</string>
				</dict>
			</dict>
			<key>React_Online</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>react.js</string>
						<string>reactjs</string>
					</array>
					<key>name</key>
					<string>React (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>React_Online</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Atom</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>atom</string>
						<string>Atom.io</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Atom#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth</string>
					<key>name</key>
					<string>Atom</string>
					<key>platform</key>
					<string>usercontribAtom</string>
					<key>uniqueIdentifier</key>
					<string>Atom</string>
				</dict>
			</dict>
			<key>Boto3</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:18Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Boto3#readme</string>
					<key>authorLinkText</key>
					<string>Randall Kahler</string>
					<key>name</key>
					<string>boto3</string>
					<key>platform</key>
					<string>usercontribBoto3</string>
					<key>uniqueIdentifier</key>
					<string>Boto3</string>
				</dict>
			</dict>
			<key>FFmpeg</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T08:30:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/FFmpeg#readme</string>
					<key>authorLinkText</key>
					<string>Steve Yin</string>
					<key>name</key>
					<string>FFmpeg</string>
					<key>platform</key>
					<string>usercontribFFmpeg</string>
					<key>uniqueIdentifier</key>
					<string>FFmpeg</string>
				</dict>
			</dict>
			<key>GNU_Make</key>
			<dict>
				<key>date</key>
				<date>2017-03-08T21:24:12Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>make</string>
						<string>gmake</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/GNU_Make#readme</string>
					<key>authorLinkText</key>
					<string>Benjamin Ragheb</string>
					<key>name</key>
					<string>GNU Make</string>
					<key>platform</key>
					<string>usercontribGNU_Make</string>
					<key>uniqueIdentifier</key>
					<string>GNU_Make</string>
				</dict>
			</dict>
			<key>JSDoc</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T08:29:23Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>jsdoc</string>
						<string>jsdoc3</string>
						<string>documentation</string>
						<string>javascript</string>
						<string>node</string>
						<string>nodejs</string>
						<string>node.js</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/JSDoc#readme</string>
					<key>authorLinkText</key>
					<string>Nicholas Cloud</string>
					<key>name</key>
					<string>JSDoc</string>
					<key>platform</key>
					<string>usercontribJSDoc</string>
					<key>uniqueIdentifier</key>
					<string>JSDoc</string>
				</dict>
			</dict>
			<key>Keras</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:07Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Keras</string>
						<string>Deep Learning</string>
						<string>Machine Learning</string>
						<string>Theano</string>
						<string>TensorFlow</string>
						<string>Neural Networks</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Keras#readme</string>
					<key>authorLinkText</key>
					<string>Kyung Mo Kweon</string>
					<key>name</key>
					<string>Keras</string>
					<key>platform</key>
					<string>usercontribKeras</string>
					<key>uniqueIdentifier</key>
					<string>Keras</string>
				</dict>
			</dict>
			<key>Linux_Man_Pages</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:26:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Linux</string>
						<string>Posix</string>
						<string>Man pages</string>
						<string>Unix</string>
						<string>BSD</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Linux_Man_Pages#readme</string>
					<key>authorLinkText</key>
					<string>Yan Pashkovsky</string>
					<key>name</key>
					<string>Linux Man Pages</string>
					<key>platform</key>
					<string>usercontribLinux_Man_Pages</string>
					<key>uniqueIdentifier</key>
					<string>Linux_Man_Pages</string>
				</dict>
			</dict>
			<key>Redux</key>
			<dict>
				<key>date</key>
				<date>2017-03-18T23:57:27Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Redux</string>
						<string>React</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Redux#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Redux</string>
					<key>platform</key>
					<string>usercontribRedux</string>
					<key>uniqueIdentifier</key>
					<string>Redux</string>
				</dict>
			</dict>
			<key>Relay</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T08:29:20Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>ReactNative</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>Relay</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Relay#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Relay</string>
					<key>platform</key>
					<string>usercontribRelay</string>
					<key>uniqueIdentifier</key>
					<string>Relay</string>
				</dict>
			</dict>
			<key>Scikit</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T08:31:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Scikit#readme</string>
					<key>authorLinkText</key>
					<string>Aziz Alto and Josh Devlin</string>
					<key>name</key>
					<string>scikit-learn</string>
					<key>platform</key>
					<string>usercontribScikit</string>
					<key>uniqueIdentifier</key>
					<string>Scikit</string>
				</dict>
			</dict>
			<key>Scikit-image</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T08:31:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Python Image Processing</string>
						<string>Scikit-image Library</string>
						<string>skimage</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Scikit-image#readme</string>
					<key>authorLinkText</key>
					<string>Aziz Alto</string>
					<key>name</key>
					<string>Scikit-image</string>
					<key>platform</key>
					<string>usercontribScikit-image</string>
					<key>uniqueIdentifier</key>
					<string>Scikit-image</string>
				</dict>
			</dict>
			<key>Seaborn</key>
			<dict>
				<key>date</key>
				<date>2017-04-03T04:20:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Seaborn Python</string>
						<string>Python visualization library</string>
						<string>matplotlib based</string>
						<string>sns</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Seaborn#readme</string>
					<key>authorLinkText</key>
					<string>Peixian Wang</string>
					<key>name</key>
					<string>Seaborn</string>
					<key>platform</key>
					<string>usercontribSeaborn</string>
					<key>uniqueIdentifier</key>
					<string>Seaborn</string>
				</dict>
			</dict>
			<key>TensorFlow</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:13Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/TensorFlow#readme</string>
					<key>authorLinkText</key>
					<string>Yuxin Wu</string>
					<key>name</key>
					<string>TensorFlow</string>
					<key>platform</key>
					<string>usercontribTensorFlow</string>
					<key>uniqueIdentifier</key>
					<string>TensorFlow</string>
				</dict>
			</dict>
			<key>fish</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T08:30:10Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>fishshell</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/fish#readme</string>
					<key>authorLinkText</key>
					<string>Dan Underwood</string>
					<key>name</key>
					<string>fish</string>
					<key>platform</key>
					<string>usercontribfish</string>
					<key>uniqueIdentifier</key>
					<string>fish</string>
				</dict>
			</dict>
			<key>glibc</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:13Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>glibc</string>
						<string>GNU C Library</string>
						<string>POSIX</string>
						<string>ISO C Library</string>
						<string>ANSI C</string>
						<string>C Runtime Library</string>
						<string>GNU Project</string>
						<string>libc</string>
						<string>C Standard Library</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/glibc#readme</string>
					<key>authorLinkText</key>
					<string>David Wedderwille</string>
					<key>name</key>
					<string>glibc</string>
					<key>platform</key>
					<string>usercontribglibc</string>
					<key>uniqueIdentifier</key>
					<string>glibc</string>
				</dict>
			</dict>
			<key>iPython</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:55:42Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>IPython</string>
						<string>Interactive Python</string>
						<string>iPython notebook</string>
						<string>ipynb</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/iPython#readme</string>
					<key>authorLinkText</key>
					<string>Aziz Alto</string>
					<key>name</key>
					<string>IPython</string>
					<key>platform</key>
					<string>usercontribiPython</string>
					<key>uniqueIdentifier</key>
					<string>iPython</string>
				</dict>
			</dict>
			<key>pytest</key>
			<dict>
				<key>date</key>
				<date>2017-03-21T05:02:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/pytest#readme</string>
					<key>authorLinkText</key>
					<string>Dan Girellini</string>
					<key>name</key>
					<string>pytest</string>
					<key>platform</key>
					<string>usercontribpytest</string>
					<key>uniqueIdentifier</key>
					<string>pytest</string>
				</dict>
			</dict>
			<key>webpack</key>
			<dict>
				<key>date</key>
				<date>2017-07-26T16:13:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/webpack#readme</string>
					<key>authorLinkText</key>
					<string>Matija Marohnić</string>
					<key>name</key>
					<string>webpack</string>
					<key>platform</key>
					<string>usercontribwebpack</string>
					<key>uniqueIdentifier</key>
					<string>webpack</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWebViewIsDark</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Ansible.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:21:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C++.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:21:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:21:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CMake.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:24:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:21:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:24:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:22:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-08T21:18:10Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MatPlotLib.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:25:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:24:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NumPy.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:23Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Pandas.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T08:09:48Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T08:10:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Rust.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T08:09:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SciPy.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Swift.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:23:04Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Bourbon.xml</key>
			<dict>
				<key>date</key>
				<date>2017-03-07T07:21:31Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>4096</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<false/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>15.4.2</key>
				<dict>
					<key>date</key>
					<date>2017-03-07T07:18:38Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
