"*":
  editor:
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  core:
    disabledPackages: [
      "highlight-selected"
    ]
    followSymlinks: true
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  "exception-reporting":
    userId: "ca4b7f11-76f5-3e3b-0014-91b7a6a76dd8"
  welcome:
    showOnStartup: false
  "sync-settings": {}
  linter:
    lintOnEditorFocus: false
    showHighlighting: false
    statusBar: "Show error of the selected line"
    showErrorInline: false
  "spell-check": {}
  "atom-beautify":
    _analyticsUserId: "11e6eb16-3bee-4743-ba67-9026edcb6b04"
  "tabs-to-spaces":
    onSave: "untabify"
  autosave:
    enabled: true
